body, h2{
    background-color: black;
    color: white;
}

#imageNavbar {

    width: 30px;  
}

#seccionCard img {
   height: 130px;
}

.card-title, .card-text {
    color: white;
}

.card-body {
    background-color:#00A9AF;
}

.btn {
    background-color:#00A9AF;
    color: white;
}

article div {
    background-color:#00A9AF;
    
    text-align: center;
    
}

article div p {
    background-color:black;
    justify-content: center;
    
}

.icon-section {
    margin: 10px;
}



