

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    

body {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    
}

#imageNavbar {

    width: 30px;  
}

#seccionCard img {
   height: 130px;
}

.card-title, .card-text {
    color: white;
}

.card-body {
    background-color:#00A9AF;
}

.btn {
    background-color:#00A9AF;
    color: white;
}

article div {
    background-color:#00A9AF;
    
    text-align: center;
    
}

article div p {
    background-color:black;
    justify-content: center;
    
}

.icon-section {
    margin: 10px;
}

footer { 
    
    background-color:#00A9AF;
   
}
footer h3 {
   
   padding-top: 20px;
   
}
footer i {
    color:white;
    align-items: end;
    margin-right: 1%;
    
}
#iconFooter {
margin-top: 20px;
    margin-right: 100px;

}




